[submodule "external/dash"]
	path = external/dash
	url = https://github.com/zhmu/ananas-dash.git
[submodule "external/coreutils"]
	path = external/coreutils
	url = https://github.com/zhmu/ananas-coreutils.git
[submodule "external/llvm"]
	path = external/llvm
	url = https://github.com/zhmu/ananas-llvm.git
