[submodule "external/dash"]
	path = external/dash
	url = https://github.com/zhmu/ananas-dash.git
[submodule "external/coreutils"]
	path = external/coreutils
	url = https://github.com/zhmu/ananas-coreutils.git
[submodule "external/musl"]
	path = external/musl
	url = https://github.com/zhmu/ananas-musl.git
[submodule "external/gcc"]
	path = external/gcc
	url = https://github.com/zhmu/ananas-gcc
[submodule "external/binutils-gdb"]
	path = external/binutils-gdb
	url = https://github.com/zhmu/ananas-binutils-gdb
[submodule "external/gmp"]
	path = external/gmp
	url = https://github.com/zhmu/ananas-gmp.git
[submodule "external/mpc"]
	path = external/mpc
	url = https://github.com/zhmu/ananas-mpc.git
[submodule "external/mpfr"]
	path = external/mpfr
	url = https://github.com/zhmu/ananas-mpfr.git
[submodule "external/EABase"]
	path = external/EABase
	url = https://github.com/zhmu/EABase.git
[submodule "external/EASTL"]
	path = external/EASTL
	url = https://github.com/zhmu/EASTL.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/zhmu/ananas-Catch2.git
